/*------------------------------------*\
   Pseudo-elements
\*------------------------------------*/
pb()
  content: '';
  display: block;
  absolute: arguments

pi($align = auto)
  content: '';
  display: inline-block;
  vertical-align $align


/*------------------------------------*\
  Quick image insert
\*------------------------------------*/
img($imgName, $imgPos = '50% 50%', $imgRepeat = no-repeat)
  background-image data($imgName)
  background-repeat $imgRepeat
  background-position unquote($imgPos)


/*------------------------------------*\
  Colors for states(hover, focus, etc)
\*------------------------------------*/
c1($lmc-1 = $linkColor)
  &,&:hover,&:focus,&:active,&:visited
    color $lmc-1

c2($lmc-1 = $linkColor, $lmc-2 = $hoverLinkColor)
  &,&:active,&:visited
    color: $lmc-1
  &:hover,&:focus
    color: $lmc-2

placeholder($color){
  ::-webkit-input-placeholder {color: $color}
  :-moz-placeholder           {color: $color}
  ::-moz-placeholder          {color: $color}
  :-ms-input-placeholder      {color: $color}
}


title($size, $color = $brandColor)
  font $size $brandFamily
  color: $color


modal-width($width)
  width: $width
  margin-left: -($width /2)
/*------------------------------------*\
    Layout helpers
\*------------------------------------*/
hLine($alignItems = baseline)
  &>*
    display: inline-block;
    vertical-align: $alignItems


jLine($vAlign = baseline)
  .flexbox &
    display flex
    justify-content space-between
    align-items $vAlign
    if $vAlign == top
      align-items flex-start
    if $vAlign == bottom
      align-items flex-end
    if $vAlign == middle
      align-items center
  .no-flexbox &
    hLine $vAlign
    if $vAlign == stretch
      hLine middle
    text-align: justify
    font-size: 1px
    line-height: 0
    text-justify: newspaper
    zoom: 1
    text-align-last: justify
    &:after
      pi()
      height: 0
      overflow: hidden
      visibility: hidden
      width: 100%
    &>*
      text-align: left
      font-size: $baseFontSize
      line-height: $baseLineHeight


jLine-old($vAlign = baseline)
  hLine $vAlign
  text-align: justify
  font-size: 1px
  line-height: 0
  text-justify: newspaper
  zoom: 1
  text-align-last: justify
  &:after
    pi()
    height: 0
    overflow: hidden
    visibility: hidden
    width: 100%
  &>*
    text-align: left
    font-size: $baseFontSize
    line-height: $baseLineHeight



vAlign($type = middle)
  hLine $type
  &:before
    pi $type
    size: 0 100%
  //prevent bugs on small screens
  white-space nowrap
  &>*
    white-space normal



container($w = $baseMaxWidth)
  max-width: $w
  min-width $baseMinWidth
  margin-left: auto
  margin-right: auto
pressable($deep = 2px)
  position relative
  &:active
    top $deep

/*------------------------------------*\
  Responsive
\*------------------------------------*/

ipad-land()
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
    {block}

b-max()
  condition = 'only screen and (max-width: %s)' % arguments[0]
  @media condition
    {block}

b-min()
  condition = 'only screen and (min-width: %s)' % arguments[0]
  @media condition
    {block}

b-height()
  condition = 'only screen and (max-height: %s)' % arguments[0]
  @media condition
    {block}
