// layout params
$baseMaxWidth             = 980px
$baseMinWidth             = 980px
$boxModel                 = border-box
// colors
$baseFontColor            = #222
$titleColor 		          = #696969
$primary-color            = #2f80e4;
$secondary-color          = #dd0017;
$inputColor               = $baseFontColor
//links colors
$linkColor                = $primary-color
$activeLinkColor          = $primary-color
$visitedLinkColor         = $primary-color
$hoveredLinkColor         = $secondary-color
$focusedLinkColor         = $secondary-color
//fonts
$baseFamily               = "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
//misc
$baseFontSize             = 14px
$baseLineHeight           = 1.4
$paragraphSpace           = 15px
$inputHeight              = 32px