@import "settings";
@import "mixins";
@import "foundation";


/*------------------------------------*\
    HEADER
\*------------------------------------*/
.l-header{
  position: relative;
  padding-bottom: 20px;
}
.l-header__row{
  @include grid-row();
  padding: 20px 0 0;
}
.logo{
  text-decoration: none;
  @include grid-column(4);
  img{display: inline-block;}
  @include breakpoint(500px){
    @include grid-column(12);
    margin-bottom: 20px;
    text-align: center;
  }
}
.events{
  @include grid-column(8);
  text-align: right;
  @include hLine(middle);
  position: relative;
  margin-top: 8px;
  z-index: 2;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &>ul>li{
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #d5d5d5;
    position: relative;
    &:hover{
      .this__dropdown{
        left: auto;
        right: 15px;
      }
    }
  }

  @each $i in connections, messages, notifications{
    .this__label--#{$i}{
      display: block;
      position: relative;
      bottom: 9px;
      left:   12px;
      text-align: center;
      font-weight: bold;
      @include c1(#fff);
      font-size: rem-calc(12);
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: $secondary-color;
      border-radius: 50%;
      &:before{
        @include pb();
        z-index: -1;
        width: 16px;
        height:16px;
        top:   9px;
        right: 12px;
        @include img('events-#{$i}.png')
      }
    }
  }
  .this__dropdown{
    position: absolute;
    z-index: 101;
    top: 100%;
    left: -9999px;
    background-color: #fff;
    border: 1px solid #bdbebd;
    //arrow
    &:before{
      @include pb;
      @include img('dropdown-arrow.png');
      width: 12px;
      height: 7px;
      bottom: 100%;
      right: 0;
    }
    //custom scollbar
  }
  .this__dropdown__notificationsList{
    max-height: 170px;
    overflow-y: auto;
  }
  .this__dropdown__notification{
    @include clearfix;
    @include hLine(middle);
    width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    padding: 11px;
    font-size: 12px;
    border-bottom: 1px solid #bdbebd;
    &:last-child{border-bottom: none;}
    cursor: pointer;
    &:hover{background-color: #dedede;}
    .button{
      padding: rem-calc(6) rem-calc(12)
    }
  }
  .this__dropdown__notification__img{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    img{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .this__dropdown__footer{
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center;
    color: #2d2d2d;
    font-size: 12px;
    cursor: pointer;
    border-top: 1px solid #bdbebd;
  }

  .this__userMenu{
    a{
      @include c1(#333);
    }
    border-right: none;
    &.is-active:after{
      @include img('select-arrow-reversed.png');
    }
    .this__dropdown__notification{
      width: 150px;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .this__userMenu__label{
    font-size: 14px;
    &:after{
      @include pi(baseline);
      @include img('select-arrow.png');
      width: 15px;
      height: 8px;
      margin-left: 7px;
    }
  }

  @include breakpoint(630px){
    .this__dropdown__notification{
      width: 200px;
      white-space: normal;
    }
  }
  @include breakpoint(500px){
    @include grid-column(12);
    text-align: center;
    &>ul>li:hover{
      .this__dropdown{
        right: auto;
        left: 15px;
      }
      &.this__userMenu .this__dropdown{
        left: auto;
        right: 15px;
      }
    }
    .this__dropdown{
      width: 250px;
      &:before{
        left: 10px;
        right: auto;
      }

      .this__dropdown__notification{
        width: inherit;
      }
    }
    .this__userMenu .this__dropdown{
      width: 150px;
      &:before{
        left: auto;
        right: 0;
      }
    }
  }
}


.top-bar{
  @include clearfix;
  .top-bar-section{
    @include clearfix;
    ul{background: none;}
    .has-form{
      padding: 0;
      margin: 0 10px;
      position: relative;
    }
  }
  .toggle-topbar.menu-icon{
    top: 0;
    margin-top: 0;
    z-index: 1;
  }
}

.top-bar-main-list{
  text-align: center;
  li{display: inline-block}
  a{
    position: relative;
    //divider
    &:before{
      @include pb;
      position: absolute;
      top: 50%;
      left: 100%;
      width: 1px;
      height: 16px;
      margin-top: -8px;
      background-color: #d5d5d5;
    }
  }
  li:last-child a:before{
    display: none;
  }
  @include breakpoint(930px){
    a{padding-right: 15px !important;}
  }
  @include breakpoint(700px){
    text-align: left;
    li{display: block;}
  }
}


.search{
  display: block;
  width: 250px;
  //icon
  &:before{
    @include pb();
    z-index: 1;
    top: 50%;
    left: 10px;
    @include img('search-icon.png');
    width: 16px;
    height: 16px;
    margin-top: -8px;
  }
  .search__field{
    width:100%;
    padding-left: 32px;
    padding-right: 10px;
    color: #333;
  }
}

/*------------------------------------*\
    CONTENT Zone
\*------------------------------------*/
select{
  cursor: pointer;
  &,&:hover{
    background-color: transparent;
    border: none;
    padding: 0 20px 0 5px;
    @include img('select-arrow.png','100% 50%');
  }
}

.ui-island{
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding: rem-calc(20) 0;
}

.button.secondary{
  color: $secondary-color;
  background-color: #fff;
  border: 1px solid $secondary-color;
  &:hover,&:focus,&.is-active{
    background-color: $secondary-color;
    color: #fff;
  }
}
.button.primary{
  color: $primary-color;
  background-color: #fff;
  border: 1px solid $primary-color;
  &:hover,&:focus,&.is-active{
    background-color: $primary-color;
    color: #fff;
  }
}

.button.secondary.icon-plus{
  position: relative;
  &:before{
    @include pb;
    @include img('button-secondary-plus.png');
    left: 10px;
    top: 50%;
    margin-top: -5px;
    width: 9px;
    height: 9px;
  }
}

.ui-button__dropdown{
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  position: absolute;
  top: 100%;
  margin-top: 3px;
  z-index: 1;
  //triangle
  &:before{
    @include pb;
    width: 13px;
    height: 7px;
    bottom: 100%;
    right: 10px;
  }
  &.primary{
    border-color: $primary-color;
    &:before{
      @include img('button-dropdown-primary.png')
    }
  }
  &.secondary{
    border-color: $secondary-color;
    &:before{
      @include img('button-dropdown-secondary.png')
    }
  }
  button{
    width: 107px !important;
  }
}

hr{
  margin: rem-calc(10) 0;
  background-color: #d5d5d5;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.l-footer{
  position: relative;
  @include grid-row();
}

ul.pagination{
  @extend .ui-island;
  text-align: center;
  margin-bottom: 0;
  li{
    float: none;
    display: inline-block;
    vertical-align: middle;
    a{
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 2px;
      border: 1px solid #d5d5d5;
      padding: 0;
      &:hover,&:focus{
        color: $primary-color;
      }
    }
  }
  .current a{
    border-color: $primary-color;
  }
  @each $i in next, prev{
    .control-#{$i} a{
      &,&:hover,&:focus{
        @include text-hide();
        border: none;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url('../img/pagination-#{$i}.png');
      }
    }
  }
}

.boxes{
  @extend .ui-island;
  @include grid-row();
  border-top: none;
  color: #999;
  .this__title{
    font-weight: 400;
    font-size: rem-calc(22);
    margin: 0 0 rem-calc(5);
    padding-left: rem-calc(35);
    @include breakpoint(910px){
      padding-left: 0;
    }
  }
  p{margin-bottom: 0;}
}
.boxes__unit--1{
  border-right: 5px solid #fff;
}
.boxes__unit--2{
  border-right: 5px solid #fff;
  border-left: 5px solid #fff;
}
.boxes__unit--3{
  border-left: 5px solid #fff;
}
@for $i from 1 through 3{
  .boxes__unit--#{$i}{
    @include grid-column(4);
    padding: rem-calc(15) rem-calc(20);
    background-color: #f2f2f2;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('../img/boxes-#{$i}.png');
    @include breakpoint(910px){
      padding: rem-calc(50) 0 rem-calc(15);
      text-align: center;
      background-position: 50% 20px;
    }
    @include breakpoint(700px){
      @include grid-column(12);
      border: 5px solid #fff;
    }
  }
}



.l-footer__bottom{
  @include grid-row();
  @extend .ui-island;
  padding: rem-calc(15) 0;
  border-top: none;
}

.serviceNav{
  @include grid-column(6);
  margin: 0;
  padding: 2px 0 0 10px;
  list-style-type: none;
  @include hLine();
  font-size: 12px;
  a{
    margin-right: 25px;
    @include c1(#333);
    &:hover,&:focus{
      text-decoration: underline;
    }
  }
}

.socialNav{
  padding: 0;
  margin: 0;
  list-style-type: none;
  @include hLine(middle);
  @include grid-column(6);
  text-align: right;
  @each $i in facebook, twitter, pinterest, linkedin, google, instagram, youtube{
    .this__unit--#{$i}{
      @include text-hide();
      display: block;
      width: 16px;
      height: 16px;
      margin-left: 5px;
      background-image: url('../img/social-#{$i}.png');
    }
  }
}


/*------------------------------------*\
    Template: invitations
\*------------------------------------*/
.event-table{
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-bottom: 0;
  td{
    @extend .ui-island;
  }
  tr:hover{
    td{background-color: #dedede;}
  }
  tr.is-active{
    &, &:hover{
      td{background-color: #f5f5f5;}
    }
  }
  tr:last-child{
    td{border-bottom: none;}
  }
  .this__mainCell{
    padding: 0 20px;
    width: 60%;
  }
  .this__userPic{
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .this__time{
    span{
      display: inline-block;
      padding: 0 10px;
      border-left: 1px solid #333;
      &:first-child{border-left: none;}
    }
  }
  //responsive
  @include breakpoint(950px){
    .this__mainCell{
      width: auto;
    }
  }
  @include breakpoint(710px){
    td{
      padding: 5px;
      text-align: center;
    }
    button{
      padding: 5px;
      margin-bottom: 5px;
      &:last-child{margin-bottom: 0;}
    }
    .this__userPic{
      display: inline-block;
      margin: 0 0 5px;
    }
    .this__mainCell{
      padding: 10px;
      span{
        display: block;
        text-align: center;
      }
    }
  }
  @include breakpoint(650px){
    .this__time span{border-left: none;}
  }
}

/*------------------------------------*\
    Template: search
\*------------------------------------*/
.search-settings{
  background-color: #f7f7f7;
  @include grid-column(3);
  .this__section{
    color: #656565;
    background-color: #f7f7f7;
    padding: 12px 8px;
    border-bottom: 1px solid #d5d5d5;
    &:last-child{border-bottom: none;}
    select{
      width:45%;
      margin-bottom: 5px;
      background-color: #d5d5d5;
      padding: 2px 5px;
      font-size: 11px;
      border-radius: 2px;
    }
  }
  .this__selectWrap{
    display: flex;
    justify-content: space-between;
    @include breakpoint(980px){
      flex-direction: column;
      .customSelect{
        margin-bottom: 10px;
        &:last-child{margin-bottom: 0;}
      }
    }
  }
  .this__section__title{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px;
  }
  .this__section__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 11px;
    max-height: 240px;
    overflow-y: auto;
    a{
      display: block;
      position: relative;
      margin-bottom: 6px;
      transition: all .3s;
      @include c1(#656565);
      &:hover,&:focus{
        padding-left: 10px;
      }
      &.is-active{
        background-color: #d5d5d5;
        border-radius: 2px;
        padding: 3px 5px;
        //close icon
        &:after{
          @include pb;
          right: 5px;
          top: 50%;
          margin-top: -5px;
          width: 9px;
          height: 9px;
          @include img('search-settings-item-unselect.png')
        }
      }
    }
    .jspDrag{
      background-color: #7c7c7c;
    }
    .jspVerticalBar,
    .jspHorizontalBar{
      width: 7px;
    }
  }
  .this__section__list--selected{
    padding: 0;
    margin: 0;
    &,ul{
      list-style-type: none;
      font-size: 11px;
    }
    ul{
      margin-left: rem-calc(10);
      a{
        //chain
        &:before{
          @include pb();
          @include img('list-chain.png');
          width: 6px;
          height: 21px;
          margin-top: -16px;
          top: 50%;
          right:100%;
        }
      }
    }
    a{
      display: block;
      position: relative;
      @include c1(#656565);
      margin-bottom: 5px;
      background-color: #d5d5d5;
      border-radius: 2px;
      padding: 3px 5px;
      //close icon
      &:after{
        @include pb;
        right: 5px;
        top: 50%;
        margin-top: -5px;
        width: 9px;
        height: 9px;
        @include img('search-settings-item-unselect.png')
      }
    }
  }
  .this__section__expander{
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &:after{
      @include pi();
      width: 15px;
      height: 8px;
      background-image: url('../img/select-arrow.png');
      margin-left: 5px;
    }
    &.is-active:after{
      background-image: url('../img/select-arrow-reversed.png');
    }
  }
  @include breakpoint(850px){
    @include grid-column(4)
  }
  @include breakpoint(600px){
    @include grid-column(5)
  }
}


.search-results{
  @include grid-column(9);
  .this__header{
    @extend .ui-island;
    padding: 10px 0;
    @include clearfix();
    .customSelect{
      font-size: 14px;
      float: right;
      .caret{
        transform: scale(1);
        right:7px;
      }
      dd{
        font-size: 14px;
      }
    }
    .selectedValue{
      padding: 10px 5px 10px 10px;
    }
  }
  .this__title{
    float: left;
    margin: 2px 0 0;
    color: #333;
    font-size: 20px;
    font-weight: 400;
  }
  select{
    float: right;
    width: 150px;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #d5d5d5;
    margin: 0;
  }
  @include breakpoint(850px){
    @include grid-column(8)
  }
  @include breakpoint(600px){
    @include grid-column(7)
  }
}
.search-results__list{
  @include block-grid(3);
  @include breakpoint(850px){
    @include block-grid(2);
  }
  @include breakpoint(600px){
    @include block-grid(1);
  }
  margin: 0;
  li{
    padding: 0 rem-calc(5);
  }
}
.search-results__unit{
  position: relative;
  @include clearfix;
  margin: 20px 0 0;
  &:hover{
    background-color: #f7f7f7;
    .this__resize,
    .this__bookmark,
    .this__invite{
      display: block;
      visibility: visible;
    }
  }
  .this__photo{
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #d5d5d5;
    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .this__info{
    @include clearfix;
    padding: 5px 15px;
    p{
      margin: 0;
      font-size: 12px;
    }
    b{font-weight: bold;}
    strong{
      font-size: 15px;
      font-weight: normal;
    }
  }
  .this__resize{
    @include text-hide;
    display: none;
    position: absolute;
    top:0;
    right:0;
    background-image: url("../img/search-result-resize.png");
    width: 60px;
    height: 60px;
  }
  .this__bookmark{
    display: none;
    position: absolute;
    bottom: 5px;
    left:0;
    width: 100%;
    padding: 5px;
    background-color: rgba(255,255,255,.35);
  }
  .this__invite{
    margin-top: 5px;
    margin-right: -10px;
    float: right;
    visibility: hidden;
  }
  .button{
    width: 129px;
    position: relative;
    &.is-active:before{
      @include pb();
      @include img('arrow-button-active.png');
      width: 11px;
      height: 6px;
      top: 50%;
      right: 10px;
      margin-top: -3px;
    }
  }
}


/*------------------------------------*\
    Template: user profile
\*------------------------------------*/
.reveal-modal{
  border-radius: 10px;
}
.close-reveal-modal{
  width: 11px;
  height: 11px;
  @include img('modal-close.png');
}
.user-profile{
  width: 980px;
  margin-left: -490px;
  padding: 40px 20px;
  @include clearfix;
  h3{
    color: #333;
    font-size: 22px;
    font-weight: 400;
    a{color: $secondary-color;}
  }
  .this__header{
    @extend .ui-island;
    padding: 0;
    @include grid-row();
    margin-bottom: 20px;
    .button{
      width: 110px;
    }
  }
  .this__header__left{
    @include grid-column(9);
    border-right: 1px solid #d5d5d5;
    padding-bottom: 10px;
  }
  .this__header__right{
    @include grid-column(3);
    padding-top: 20px;
    padding-right: 0;
    text-align: right;
    @include hLine();
  }
  .this__title{
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  .this__header__info{
    @include hLine();
    font-size: 18px;
    &>*{margin-right: 25px;}
  }
  .this__email{
    &:before{
      @include pi(baseline);
      width: 16px;
      height: 12px;
      @include img('icon-mail.png');
      margin-right: 5px;
    }
  }
  .this__tel{
    &:before{
      @include pi(baseline);
      margin-bottom: -1px;
      width: 11px;
      height: 16px;
      @include img('icon-tel.png');
      margin-right: 5px;
    }
  }
  .this__mainPhoto{
    @include grid-column(5);
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .this__about{
    @include grid-column(7);
    p{font-size: 13px;}
  }
  .this__otherPhotosList{
    @include block-grid(4);
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{
      padding-bottom: 0;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
      &:hover{
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px #babcbb;
      }
    }
  }
  .this__detailedInfo{
    border-top: 1px solid #d5d5d5;
    @include grid-row();
    margin-top: 20px;
    h3{margin: 15px 0;}
    dl{font-size: 13px;}
    dt{
      color: #999;
      width: 125px;
      border-bottom: 1px solid #d5d5d5;
      float: left;
      font-weight: 400;
    }
    dd{
      border-bottom: 1px solid #d5d5d5;
    }
  }
  .this__detailedInfo__lt{@include grid-column(5)}
  .this__detailedInfo__rt{@include grid-column(7)}
  @include breakpoint(980px){
    width: 600px;
    margin-left: -300px;
    .this__header__right{
      button:first-child{margin-bottom: 5px;}
    }
    .this__title{
      text-align: center;
    }
    .this__header__info{
      &>*{
        display: block;
        margin-bottom: 5px;
        &:last-child{margin-bottom: 0;}
      }
    }
    .this__mainPhoto,
    .this__about,
    .this__detailedInfo__lt,
    .this__detailedInfo__rt {
      @include grid-column(12);
      dt{@include grid-column(4)}
      dd{@include grid-column(8)}
    }
  }
  @include breakpoint(600px){
    width: 400px;
    margin-left: -200px;
    .this__header__left{
      @include grid-column(12);
      padding-bottom: 10px;
      border-right: none;
    }
    .this__header__right{
      @include grid-column(12);
      padding: 5px 0;
      text-align: center;
      @include hLine();
    }
    .this__header__info{
      text-align: center;
    }
    dt{@include grid-column(6)}
    dd{@include grid-column(6)}
  }
  @include breakpoint(400px){
    width: 300px;
    margin-left: -150px;
  }
}


/*------------------------------------*\
    Custom selectbox
\*------------------------------------*/
select{display: none;}
.customSelect {
  display: inline-block;
  position: relative;
  font-size: 11px;
  margin: 0;
}
.customSelect .selectedValue {
  padding: 5px 15px 5px 5px;
  width: inherit;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  line-height: 1.2;
  color: #333333;
  cursor: pointer;
  background-color: #d5d5d5;
  border-radius: 2px;
}
.customSelect .selectList {
  z-index: 100;
  position: absolute;
  left: -999em;
  top: -999em;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #d5d5d5;
}

.customSelect.select-open .selectList {
  left: 0 !important;
  top: auto !important;
}
.customSelect .selectList dl {
  background: #fff;
}
.customSelect .selectList dl.defaultScrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
}
.customSelect dl, .customSelect dd {
  margin: 0;
}
.customSelect dd {
  zoom: 1;
  cursor: pointer;
}
.customSelect .selected,
.customSelect .selectList dd.hovered {
  text-decoration: none;
  background-color: #333;
  border-top-color: #666;
  border-bottom-color: #666;
  color: #fff;
}
.customSelect dt {
  font-weight: bold;
  font-style: italic;
  padding: 2px 10px 2px 6px;
}
.customSelect dd {
  padding: 2px 10px 2px 8px;
  font-size: 11px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #666;
  background-color: #d5d5d5;
}
.hasJS select.custom {
  position: absolute;
  left: -999em;
}
.customSelect.focused .selectedValue {
  box-shadow: 0 0 2px #00aedb;
}
.customSelect.disabled .selectedValue {
  border: 1px solid #ccc;
  color: #ccc;
  cursor: default;
}
.customSelect .caret {
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -5px;
  cursor: pointer;
  @include img('select-arrow.png');
  width: 15px;
  height: 8px;
  transform: scale(.75);
}

.customSelect.select-open .caret {
  @include img('select-arrow-reversed.png')
}
.customSelect .jspPane {
  overflow-x: hidden;
}
.customSelect .jspVerticalBar {
  background: none;
  width: 8px;
}
.customSelect .jspHorizontalBar {
  height: 0;
  overflow: hidden;
}
.customSelect .jspTrack {
  background: none;
  width: 4px;
  margin: 4px 0;
}
.customSelect .jspDrag {
  background-color: rgba(247,247,247,.85);
}
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: transparent
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
  margin: 0;
  padding: 0;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: transparent;
  width: 4px;
  margin: 4px 0;
  position: relative;
}

.jspDrag
{
  border-radius: 2px / 3px;
  background-color: #b2b2b2;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}