<!doctype html>
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aisle</title>

  <link rel="stylesheet" href="assets/styles/core.css" />
  <script src="assets/scripts/vendor/modernizr.min.js"></script>
</head>
<body>


<!--HEADER start-->
<header class="l-header">
  <div class="l-header__row">
    <!--logo-->
    <a class="logo" href="/" itemprop='url'>
      <img src="assets/img/logo.png" alt="" itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
      <span class="logo__hidden" itemprop="name"></span>
    </a>
    <!--user events notifications-->
    <ul class="events">
      <li>
        <a href="#" class="this__label--connections">
          <span class="this__label__counter">2</span>
        </a>
        <div class="this__dropdown">
          <ul class="js-scrollbar">
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <b>Able</b>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid atque aut cumque eius est ex expedita facilis, iusto nam necessitatibus nostrum provident qui quod vel vero voluptas! Et, minima.</span>
                </div>
              </div>
              <div class="l-hLine">
                <button class="button  secondary">Accept</button>
                <button class="button  primary">Decline</button>
              </div>
            </li>
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <b>Able</b>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid atque aut cumque eius est ex expedita facilis, iusto nam necessitatibus nostrum provident qui quod vel vero voluptas! Et, minima.</span>
                </div>
              </div>
              <div class="l-hLine">
                <button class="button  secondary">Accept</button>
                <button class="button  primary">Decline</button>
              </div>
            </li>
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <b>Able</b>
                </div>
              </div>
              <div class="l-hLine">
                <button class="button  secondary">Accept</button>
                <button class="button  primary">Decline</button>
              </div>
            </li>
          </ul>
          <footer class="this__dropdown__footer">See all Invites</footer>
        </div>
      </li>
      <li>
        <a href="#" class="this__label--messages">
          <span class="this__label__counter">5</span>
        </a>
        <div class="this__dropdown">
          <ul class="js-scrollbar">
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <div><b>Able</b></div>
                  <span>is just viewed your profile</span>
                </div>
              </div>
            </li>
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <div><b>Able</b></div>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid atque aut cumque eius est ex expedita facilis, iusto nam necessitatibus nostrum provident qui quod vel vero voluptas! Et, minima.</span>
                </div>
              </div>
            </li>
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <div><b>Able</b></div>
                </div>
              </div>
            </li>
          </ul>
          <footer class="this__dropdown__footer">See all Invites</footer>
        </div>
      </li>
      <li>
        <a href="#" class="this__label--notifications">
          <span class="this__label__counter">22</span>
        </a>
        <div class="this__dropdown">
          <ul class="js-scrollbar">
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <div><b>Able</b></div>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid atque aut cumque eius est ex expedita facilis, iusto nam necessitatibus nostrum provident qui quod vel vero voluptas! Et, minima.</span>
                </div>
              </div>
            </li>
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <div><b>Able</b></div>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid atque aut cumque eius est ex expedita facilis, iusto nam necessitatibus nostrum provident qui quod vel vero voluptas! Et, minima.</span>
                </div>
              </div>
            </li>
            <li>
              <div class="person-view">
                <img class="this__photo" src="http://fakeimg.pl/32x32/?text=Hello">
                <div class="this__message">
                  <div><b>Able</b></div>
                </div>
              </div>
            </li>
          </ul>
          <footer class="this__dropdown__footer">See all Invites</footer>
        </div>
      </li>
      <li class="this__userMenu">
        <!--<li class="this__userMenu  is-active">-->
        <a href="#" class="this__userMenu__label">UserName</a>
        <div class="this__dropdown">
          <ul>
            <li>
              <a href="#">Profile</a>
            </li>
            <li>
              <a href="#">Edit</a>
            </li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <nav class="l-header__row  mainNav">
    <ul class="l-hLine">
      <li><a href="#">Find</a></li>
      <li><a href="#">Bookmarks</a></li>
      <li><a href="#">Connections</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Invites</a></li>
    </ul>
    <!--<form class="search">-->
      <!--<input class="this__field" type="search" placeholder="Search by ID"/>-->
      <!--<button class="this__submit" type="submit">Search</button>-->
    <!--</form>-->
    <div class="invites">
      Invites left: <span class="invites__counter">5</span>
    </div>
  </nav>
</header>
<!--HEADER end-->

<!--MAIN start-->
<div class="l-main" role="main">

<!--
  <ul style="font-size: 20px;">
    <li><a href="invitations.html">Invitations</a></li>
    <li><a href="search.html">search</a></li>
    <li><a href="payment.html">payment</a></li>
    <li><a href="edit-profile.html">edit-profile</a></li>
    <li><a href="edit-profile-full.html">edit-profile-full</a></li>
    <li><a href="bookmarks.html">bookmarks</a></li>
    <li><a href="conversations.html">conversations</a></li>
    <li><a href="profile.html">profile</a></li>
  </ul>
-->

  <!--include "templates/invitations"-->
  <!--include "templates/search"-->
  <!--include "templates/payment"-->
  <!--include "templates/edit-profile"-->
  <!--include "templates/edit-profile-full"-->
  <!--include "templates/bookmarks"-->
  <!--include "templates/conversations"-->
  include "templates/profile"
  <!--include "templates/modals"-->



</div>
<!--MAIN end-->

<!--start FOOTER-->
<footer class="l-footer">


  <!--Pagination-->
  <nav class="pagination">
    <a class="control-prev" href="#">Prev</a>
    <ul class="l-hLine">
      <li><a class="is-active" href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">...</a></li>
      <li><a href="">12</a></li>
      <li><a href="">13</a></li>
    </ul>
    <a class="control-next" href="#">Next</a>
  </nav>
  <!--banners-->
  <div class="boxes">
    <div class="this__unit--1">
      <h3 class="this__unit__title">How it Works</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="this__unit--2">
      <h3 class="this__unit__title">Refer A Friend</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="this__unit--3">
      <h3 class="this__unit__title">Submit Your Story</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    </div>
  </div>

  <div class="l-footer__btm">
    <ul class="serviceNav">
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <ul class="socialNav">
      <li><a href="#" class="this__unit--facebook" title="Facebook">Facebook</a></li>
      <li><a href="#" class="this__unit--twitter" title="Twitter">Twitter</a></li>
      <li><a href="#" class="this__unit--pinterest" title="Pinterest">Pinterest</a></li>
      <li><a href="#" class="this__unit--linkedin" title="LinkedIn">Linkedin</a></li>
      <li><a href="#" class="this__unit--google" title="Google Plus">Google Plus</a></li>
      <li><a href="#" class="this__unit--instagram" title="Instagram">Instagram</a></li>
      <li><a href="#" class="this__unit--youtube" title="YouTube">YouTube</a></li>
    </ul>
  </div>

  <!--copyright-->
  <small class="copyright"></small>
</footer>
<!-- end FOOTER -->



<!--SCRIPTS  start-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/scripts/vendor/jquery.min.js"><\/script>');</script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>

<script src="assets/scripts/plugins.min.js"></script>
<script src="assets/scripts/core.js"></script>


</body>
</html>