<!--creditCard options-->
<div class="this__payment">
  <h3 class="this__payment__title">Popular Banks</h3>

  <div class="this__payment__main">

    <ul class="this__payment--bank__list">
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-1.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-2.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-1.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-2.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-1.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-2.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-1.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-2.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-1.png" alt=""/>
          </label>
        </div>
      <li>
        <div class="this__payment--bank__item">
          <label class="l-hLine--middle">
            <input type="radio"/>
            <img src="assets/img/tmp/bank-2.png" alt=""/>
          </label>
        </div>
    </ul>

  </div>

  <footer>
    <label class="this__payment--card__agreement">
      <input type="checkbox"/>
      <span>I understand and agree to the rules and restrictions of this fare, the Booking Policy and the Terms & Conditions of Aisle.</span>
    </label>
    <button type="submit" class="button primary">Make Payment</button>
  </footer>
</div>