<!--creditCard options-->
<div class="this__payment">
  <h3 class="this__payment__title">PayPal</h3>
  <!--<div class="this__payment__main"></div>-->
  <footer>
    <label class="this__payment--card__agreement">
      <input type="checkbox"/>
      <span>I understand and agree to the rules and restrictions of this fare, the Booking Policy and the Terms & Conditions of Aisle.</span>
    </label>
    <button type="submit" class="button-paypal-payment">Checkout using Paypal</button>
  </footer>
</div>
