<div class="collection-view">
  <ul class="this__list">
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary  is-active">Bookmark</button>
            <div class="ui-button__dropdown  primary">
              <button class="button primary">Unbookmark</button>
            </div>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary  is-active">Accept</button>
            <div class="ui-button__dropdown  secondary">
              <button class="button secondary">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary  icon-plus">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary  is-active">Bookmark</button>
            <div class="ui-button__dropdown  primary">
              <button class="button primary">Unbookmark</button>
            </div>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary  is-active">Accept</button>
            <div class="ui-button__dropdown  secondary">
              <button class="button secondary">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary  icon-plus">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="person-profile">
        <div class="this__photo">
          <img  src="http://fakeimg.pl/230x230/?text=230x230">
          <!--bookmark this-->
          <div class="this__bookmark">
            <button class="button primary">Bookmark</button>
          </div>
          <!--resize this-->
          <a class="this__resize" href="#">Scale photo</a>
        </div>
        <div class="this__info">
          <p><strong><b>India, New Delhi</b></strong>
          <p><b>24 Years | Malayalam</b>
          <p><strong>4 Feet 9 Inches</strong>
          <p><b>Christian  |  Roman Catholic</b>
          <div class="this__invite">
            <button class="button secondary">Bookmark</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>