<div class="edit-profile-view">
  <article class="this__section  is-active">
    <header class="this__section__header">About</header>
    <div class="this__section__main">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci blanditiis consequatur ducimus hic illum in modi, nisi nobis officiis quae quasi quia quidem quisquam repudiandae rerum similique, velit veniam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci blanditiis consequatur ducimus hic illum in modi, nisi nobis officiis quae quasi quia quidem quisquam repudiandae rerum similique, velit veniam?</p>
    </div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>

  <article class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </article>
</div>