<div class="edit-profile-view">
  <header>
    <div class="l-jLine">
      <h1 class="ui-title">Apply for Membership</h1>
      <div class="l-hLine">
        <a href="#" class="connectBtn--linkedin">Connect with Facebook</a>
        <a href="#" class="connectBtn--facebook">Connect with Linkedin</a>
      </div>
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </header>

  <section class="this__section  is-active">
    <header class="this__section__header">About</header>
    <div class="this__section__main">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci blanditiis consequatur ducimus hic illum in modi, nisi nobis officiis quae quasi quia quidem quisquam repudiandae rerum similique, velit veniam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci blanditiis consequatur ducimus hic illum in modi, nisi nobis officiis quae quasi quia quidem quisquam repudiandae rerum similique, velit veniam?</p>
    </div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>

  <section class="this__section">
    <header class="this__section__header">Lorem Ipsum</header>
    <div class="this__section__main"></div>
  </section>
</div>