<div class="edit-profile-view">
  <header>
    <div class="l-jLine">
      <h1 class="ui-title">Apply for Membership</h1>
      <div class="l-hLine">
        <a href="#" class="connectBtn--linkedin">Connect with Facebook</a>
        <a href="#" class="connectBtn--facebook">Connect with Linkedin</a>
      </div>
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <div class="this__incorrectFormAlert">Please ensure you've filled in all fields.</div>
  </header>

  <section class="this__section  is-active">
    <header class="this__section__header">About</header>
    <div class="this__section__main">
      <textarea class="this__aboutMe"></textarea>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Contact Information</header>
    <div class="this__section__main">
      <div class="ui-formWrapper">
        <label>
          <span>First Name*</span>
          <input type="text" required/>
        </label>
        <label>
          <span>Middle name</span>
          <input type="text"/>
        </label>
        <label>
          <span>Last Name*</span>
          <input type="text" required/>
        </label>
        <label>
          <span>Nick name</span>
          <input type="text"/>
        </label>
        <label>
          <span>Mobile Number*</span>
          <input type="tel" required/>
        </label>
        <label>
          <span>Personal Email*</span>
          <input type="email" required/>
        </label>
        <label>
          <span>Work Email</span>
          <input type="email"/>
        </label>
        <label>
          <span>Company Name*</span>
          <input type="text" required/>
        </label>
        <label>
          <span>Facebook URL</span>
          <input type="text"/>
        </label>
        <label>
          <span>Twitter URL</span>
          <input type="text"/>
        </label>
        <label>
          <span>Linkedin URL</span>
          <input type="text"/>
        </label>
        <label>
          <span>Blog URL</span>
          <input type="text"/>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Personal Details</header>
    <div class="this__section__main">
      <div class="ui-formWrapper">
        <label>
          <span>Date of birth*</span>
          <div class="this__birth">
            <select class="this__birth--day">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">31</option>
            </select>
            <select class="this__birth--month">
              <option value="">September</option>
              <option value="">December</option>
              <option value="">May</option>
            </select>
            <select class="this__birth--year">
              <option value="">1919</option>
              <option value="">1912</option>
              <option value="">2014</option>
            </select>
          </div>
        </label>
        <label>
          <span>Faith*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Community*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Mother of Tongue*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>VERY LONG dropdown</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>State*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>City*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span></span>
        </label>
        <label>
          <span>Country of residence*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>State of residence*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>City of residence*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span></span>
        </label>
        <label>
          <span>Languages (choose at least 1)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Marital Status*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Kids*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Drinking*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Smoking*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Medical Condition*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Appearance</header>
    <div class="this__section__main">
      <div class="ui-formWrapper">
        <label>
          <span>Height*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Weight*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Body type*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Complexion*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Piercings*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Tattoos*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Eye color*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Hair color*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Style (choose at least 2)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <!--photo upload-->
        <div class="this__photoWrapper">
          <span>Photo (Upload at least 2)</span>
          <div class="l-jLine--top">
            <figure class="this__photo  is-uploaded">
              <img src="http://fakeimg.pl/235x235/?text=235x235">
              <input type="file"/>
              <a class="this__photo__delete" href="#"><span>Delete</span></a>
            </figure>
            <figure class="this__photo">
              <input type="file"/>
              <a class="this__photo__delete" href="#"><span>Delete</span></a>
            </figure>
            <figure class="this__photo">
              <input type="file"/>
              <a class="this__photo__delete" href="#"><span>Delete</span></a>
            </figure>
            <figure class="this__photo">
              <input type="file"/>
              <a class="this__photo__delete" href="#"><span>Delete</span></a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Family</header>
    <div class="this__section__main">
      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
      <div class="ui-formWrapper">
        <label>
          <span>Values*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Type*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Mother*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Father*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Unmaried sisters*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Married sisters*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Unmarried Brothers*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Married Brothers*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Work</header>
    <div class="this__section__main">
      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
      <div class="ui-formWrapper">
        <label>
          <span>Industry*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Title*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Monthly income*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span></span>
        </label>
        <label>
          <span>Experience in years*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Highest Qualification*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Field of Study*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span></span>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Interests</header>
    <div class="this__section__main">
      <dl class="this__interests  ui-columnize-2">
        <dt>Art & Literature</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Books</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Cooking</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Fitness</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Food</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Gadgets</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Gardening</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Instruments</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Music</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Party</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Pets</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Photography</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Plays</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Shopping</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Sports</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Travel</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>TV Shows</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
        <dt>Video Games</dt>
        <dd><input type="range" min="1" max="10" value="7" /></dd>
      </dl>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Favorites</header>
    <div class="this__section__main">
      <div class="ui-formWrapper">
        <label>
          <span>Cuisine (choose at least 2)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Movie genre (choose at least 2)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Weekend activity (choose at least 2)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Reading (choose at least 2)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Often download (choose at least 2)</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Frequently used app </span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>&nbsp;</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Work</header>
    <div class="this__section__main">
      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
      <div class="ui-formWrapper">
        <label>
          <span>Visited (choose at least 1)</span>
          <input type="text"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="text"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="text"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="text"/>
        </label>
        <label>
          <span>Wish to visit (choose at least 1)</span>
          <input type="text"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="text"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="text"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="text"/>
        </label>
        <label>
          <span>Trips per year*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
        <label>
          <span>Purpose of travel*</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <header class="this__section__header">Preferences</header>
    <div class="this__section__main">
      <div class="this__preferences">
        <label class="this__preferences__variant-1">
          <input type="radio"/>
          <span>Paperback</span>
        </label>
        <b>Or</b>
        <label class="this__preferences__variant-2">
          <input type="radio"/>
          <span>Hard back</span>
        </label>
        <a href="#" class="button  primary">Ask me another one</a>
      </div>
      <div class="this__preferences">
        <label class="this__preferences__variant-1">
          <input type="radio"/>
          <span>Twitter</span>
        </label>
        <b>Or</b>
        <label class="this__preferences__variant-2">
          <input type="radio"/>
          <span>Facebook</span>
        </label>
        <a href="#" class="button  primary">Ask me another one</a>
      </div>
      <div class="this__preferences">
        <label class="this__preferences__variant-1">
          <input type="radio"/>
          <span>Paperback</span>
        </label>
        <b>Or</b>
        <label class="this__preferences__variant-2">
          <input type="radio"/>
          <span>Hard back</span>
        </label>
        <a href="#" class="button  primary">Ask me another one</a>
      </div>
      <div class="this__preferences">
        <label class="this__preferences__variant-1">
          <input type="radio"/>
          <span>Twitter</span>
        </label>
        <b>Or</b>
        <label class="this__preferences__variant-2">
          <input type="radio"/>
          <span>Facebook</span>
        </label>
        <a href="#" class="button  primary">Ask me another one</a>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <h2 class="this__section__header">Billing Address</h2>
    <div class="this__section__main">
      <div class="ui-formWrapper">
        <label>
          <span>Name</span>
          <input type="text"/>
        </label>
        <label>
          <span>Telephone</span>
          <input type="text"/>
        </label>
        <label>
          <span>Mobile number</span>
          <input type="tel"/>
        </label>
        <label>
          <span>Email address</span>
          <input type="email"/>
        </label>
        <label style="width: 485px">
          <span>Billing address</span>
          <input type="text"/>
        </label>
        <label>
          <span>City</span>
          <input type="text"/>
        </label>
        <label>
          <span>State/Province</span>
          <input type="text"/>
        </label>
        <label>
          <span>Zip code</span>
          <input type="text"/>
        </label>
        <label>
          <span>Country</span>
          <select>
            <option value="">Item 1</option>
            <option value="">Item 2</option>
            <option value="">Item 100500</option>
          </select>
        </label>
      </div>
    </div>
  </section>

  <section class="this__section  is-active">
    <h2 class="this__section__header">Credit Card Details</h2>
    <div class="this__section__main">
      <div class="payment-view">
        <div class="this__options--creditCard">
        <h3><b>Enter your credit card details</b></h3>

        <label class="this__options--creditCard__types">
          <span>Credit card no.</span>
          <input type="text"/>
        </label>
        <label>
          <span>Expiry date</span>
          <div class="this__options--creditCard__expiryDate">
            <select>
              <option value="">Item 1</option>
              <option value="">Item 2</option>
              <option value="">Item 100500</option>
            </select>
            <select>
              <option value="">Item 1</option>
              <option value="">Item 2</option>
              <option value="">Item 100500</option>
            </select>
          </div>
        </label>
        <label>
          <span>Card holder</span>
          <input type="text" placeholder="Name as on card"/>
        </label>
        <label class="this__options--creditCard__cvv">
          <span></span>
          <div class="l-hLine--middle">
            <input type="text"/>
            <span class="this__options--creditCard__cvv__description">The 3 digit number printed on the back of the card</span>
          </div>
        </label>
        <label class="this__options--creditCard__agreement">
          <input type="checkbox"/>
          <span>I understand and agree to the rules and restrictions of this fare, the <a href="#">Booking Policy</a> and the <a href="#">Terms & Conditions</a> of Aisle.</span>
        </label>
        <button type="submit" class="button primary">Submit</button>
      </div>
      </div>
    </div>
  </section>

</div>