<div class="row">
  <table class="event-table">
  <tr class="is-active">
    <td class="this__mainCell">
      <img class="this__userPic" src="http://fakeimg.pl/45x45/?text=45">
      <span><b>Joe</b> wants to connect with you.</span>
    </td>
    <td>
      <button class="button  radius  tiny  secondary">Accept</button>
      <button class="button  radius  tiny  primary">Decline</button>
    </td>
    <td>
      <time class="this__time" datetime="2013-11-22T12:55">
        <span>22<sup>nd</sup> Nov 2013</span>
        <span>12:55pm</span>
      </time>
    </td>
  </tr>
  <tr class="is-active">
    <td class="this__mainCell">
      <img class="this__userPic" src="http://fakeimg.pl/45x45/?text=45">
      <span><b>Joe</b> wants to connect with you.</span>
    </td>
    <td>
      <button class="button  radius  tiny  secondary">Accept</button>
      <button class="button  radius  tiny  primary">Decline</button>
    </td>
    <td>
      <time class="this__time" datetime="2013-11-22T12:55">
        <span>22<sup>nd</sup> Nov 2013</span>
        <span>12:55pm</span>
      </time>
    </td>
  </tr>
  <tr>
    <td class="this__mainCell">
      <img class="this__userPic" src="http://fakeimg.pl/45x45/?text=45">
      <span><b>Joe</b> wants to connect with you.</span>
    </td>
    <td>
      <button class="button  radius  tiny  secondary">Accept</button>
      <button class="button  radius  tiny  primary">Decline</button>
    </td>
    <td>
      <time class="this__time" datetime="2013-11-22T12:55">
        <span>22<sup>nd</sup> Nov 2013</span>
        <span>12:55pm</span>
      </time>
    </td>
  </tr>
  <tr>
    <td class="this__mainCell">
      <img class="this__userPic" src="http://fakeimg.pl/45x45/?text=45">
      <span><b>Joe</b> wants to connect with you.</span>
    </td>
    <td>
      <button class="button  radius  tiny  secondary">Accept</button>
      <button class="button  radius  tiny  primary">Decline</button>
    </td>
    <td>
      <time class="this__time" datetime="2013-11-22T12:55">
        <span>22<sup>nd</sup> Nov 2013</span>
        <span>12:55pm</span>
      </time>
    </td>
  </tr>
  <tr>
    <td class="this__mainCell">
      <img class="this__userPic" src="http://fakeimg.pl/45x45/?text=45">
      <span><b>Joe</b> wants to connect with you.</span>
    </td>
    <td>
      <button class="button  radius  tiny  secondary">Accept</button>
      <button class="button  radius  tiny  primary">Decline</button>
    </td>
    <td>
      <time class="this__time" datetime="2013-11-22T12:55">
        <span>22<sup>nd</sup> Nov 2013</span>
        <span>12:55pm</span>
      </time>
    </td>
  </tr>
  <tr>
    <td class="this__mainCell">
      <img class="this__userPic" src="http://fakeimg.pl/45x45/?text=45">
      <span><b>Joe</b> wants to connect with you.</span>
    </td>
    <td>
      <button class="button  radius  tiny  secondary">Accept</button>
      <button class="button  radius  tiny  primary">Decline</button>
    </td>
    <td>
      <time class="this__time" datetime="2013-11-22T12:55">
        <span>22<sup>nd</sup> Nov 2013</span>
        <span>12:55pm</span>
      </time>
    </td>
  </tr>
</table>
</div>