<ul style="font-size: 18px;">
  <li><a href="#" data-reveal-id="profile-1">User Profile</a></li>
  <li><a href="#" data-reveal-id="modal-contacts">Contacts</a></li>
  <li><a href="#" data-reveal-id="modal-privacy">Privacy</a></li>
  <li><a href="#" data-reveal-id="modal-terms">Terms</a></li>
</ul>









<div id="modal-contacts" class="reveal-modal  modal-contacts">
  <h1 class="this__title">Contact</h1>
  <div class="this__main">
    <div class="this__column">
      <h2><b>Column 1</b></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugit, soluta. Ad aliquid asperiores atque consectetur deleniti doloremque, doloribus eaque exercitationem illum in, nam optio quos suscipit totam ullam voluptas!
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugit, soluta. Ad aliquid asperiores atque consectetur deleniti doloremque, doloribus eaque exercitationem illum in, nam optio quos suscipit totam ullam voluptas!
    </div>
    <div class="this__column">
      <h2><b>Column 2</b></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugit, soluta. Ad aliquid asperiores atque consectetur deleniti doloremque, doloribus eaque exercitationem illum in, nam optio quos suscipit totam ullam voluptas!
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugit, soluta. Ad aliquid asperiores atque consectetur deleniti doloremque, doloribus eaque exercitationem illum in, nam optio quos suscipit totam ullam voluptas!
    </div>
    <div class="this__column">
      <h2><b>Column 3</b></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugit, soluta. Ad aliquid asperiores atque consectetur deleniti doloremque, doloribus eaque exercitationem illum in, nam optio quos suscipit totam ullam voluptas!
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugit, soluta. Ad aliquid asperiores atque consectetur deleniti doloremque, doloribus eaque exercitationem illum in, nam optio quos suscipit totam ullam voluptas!
    </div>
  </div>

  <a class="close-reveal-modal"></a>
</div>




<div id="modal-privacy" class="reveal-modal  modal-text">
  <div class="this__main  ui-wswg  js-scrollbar">
    <h1 class="this__title">Privacy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
  </div>

  <a class="close-reveal-modal"></a>
</div>




<div id="modal-terms" class="reveal-modal  modal-text">
  <div class="this__main  ui-wswg  js-scrollbar">
    <h1 class="this__title">Terms</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium commodi cumque delectus dignissimos eveniet facilis fuga fugit, iste nostrum odio officia perspiciatis provident quasi reprehenderit suscipit vero vitae voluptatibus.
  </div>

  <a class="close-reveal-modal"></a>
</div>







<!--MODALS-->
include "profile-modal"