<div id="profile-1" class="reveal-modal  user-profile  user-profile-modal">
  <header class="this__header">
    <div class="this__header__left">
      <h2 class="this__title">Able Joseph Sarath Nair</h2>
      <div class="this__header__info">
        <span>Ref. ID 1234XYZ</span>
        <span class="this__email">Varunjosephkurien@hotmailer.com</span>
        <span class="this__tel">+9715521166056</span>
      </div>
    </div>
    <div class="this__header__right">
      <button class="button tiny radius  primary">Bookmark</button>
      <button class="button tiny radius  secondary  icon-plus">Connect</button>
    </div>
  </header>

  <div class="this__main">
    <div class="this__main__photo">
      <img src="http://fakeimg.pl/350x350/?text=350x350">
    </div>

    <div class="this__main__info">
      <div>
        <h3>About</h3>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
      <div class="this__otherPhotosList">
        <h3 class="this__otherPhotosList__title">More <a href="#">Images</a></h3>
        <ul class="l-jLine--top">
          <li><img src="http://fakeimg.pl/125x125/?text=Img1"></li>
          <li><img src="http://fakeimg.pl/125x125/?text=Img2"></li>
          <li><img src="http://fakeimg.pl/125x125/?text=Img3"></li>
          <li><img src="http://fakeimg.pl/125x125/?text=Img4"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="this__info">
    <div class="this__info__lt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Appearance</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
    <div class="this__info__rt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Personal</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
  </div>

  <a class="close-reveal-modal"></a>
</div>