<section class="user-profile">
  <header class="this__header">
    <div class="this__header__left">
      <h2 class="this__title">Able Joseph Sarath Nair</h2>
      <div class="this__header__info">
        <span>Ref. ID 1234XYZ</span>
        <span class="this__email">Varunjosephkurien@hotmailer.com</span>
        <span class="this__tel">+9715521166056</span>
      </div>
    </div>
    <div class="this__header__right">
      <button class="button tiny radius  primary">Bookmark</button>
      <button class="button tiny radius  secondary  icon-plus">Connect</button>
    </div>
  </header>

  <div class="this__main">
    <div class="this__main__photo">
      <img src="http://fakeimg.pl/350x350/?text=350x350">
    </div>

    <div class="this__main__info">
      <div>
        <h2 class="ui-subTitle">About</h2>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
      <div class="this__otherPhotosList">
        <h3 class="this__otherPhotosList__title">More <a href="#">Images</a></h3>
        <ul class="l-jLine--top">
          <li><img src="http://fakeimg.pl/125x125/?text=Img1"></li>
          <li><img src="http://fakeimg.pl/125x125/?text=Img2"></li>
          <li><img src="http://fakeimg.pl/125x125/?text=Img3"></li>
          <li><img src="http://fakeimg.pl/125x125/?text=Img4"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="this__info">
    <div class="this__info__lt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Appearance</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
    <div class="this__info__rt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Personal</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="this__info">
    <div class="this__info__lt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Appearance</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
      <div class="this__info__section">
        <h3 class="this__info__section__title">Appearance</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
      <div class="this__info__section">
        <h3 class="this__info__section__title">Appearance</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
    <div class="this__info__rt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Interests</h3>
        <dl class="this__interests">
          <dt>Art & Literature</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Photography</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Video Games</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Art & Literature</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Photography</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Video Games</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Art & Literature</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Photography</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Video Games</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Art & Literature</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Photography</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Video Games</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Photography</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Video Games</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Art & Literature</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Photography</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
          <dt>Video Games</dt>
          <dd><input type="range" min="1" max="10" value="7" readonly/></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="this__info">
    <div class="this__info__lt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Appearance</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
    <div class="this__info__rt">
      <div class="this__info__section">
        <h3 class="this__info__section__title">Personal</h3>
        <dl>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
          <dt>Height</dt>
          <dd>5 Feet 7 Inches</dd>
        </dl>
      </div>
    </div>
  </div>

  <!--MODAL Triggers-->
  <div style="font-size: 20px;">
    <p><a data-reveal-id="send-message" href="#">Send message</a>
    <p><a data-reveal-id="decline-invitation" href="#">Decline invitation</a>
    <p><a data-reveal-id="pay-planes" href="#">Pay per connection</a>
  </div>
</section>



<!--MODAL: send message-->
<div id="send-message" class="reveal-modal">
  <header class="this__title">
    <h2>Send him a message</h2>
  </header>
  <label>
    <textarea placeholder="Start typing your message here..."></textarea>
  </label>
  <footer class="this__footer">
    <a href="#" class="button  primary">Cancel</a>
    <a href="#" class="button  secondary">Send</a>
  </footer>
  <a class="close-reveal-modal"></a>
</div>

<!--MODAL: decline invitation-->
<div id="decline-invitation" class="reveal-modal">
  <header class="this__title">
    <h2>Decline invitation</h2>
  </header>
  <p>Are you sure you want to decline his invitation to connect?</p>
  <footer class="this__footer">
    <a href="#" class="button  primary">No</a>
    <a href="#" class="button  secondary">Yes</a>
  </footer>
  <a class="close-reveal-modal"></a>
</div>

<!--MODAL: pay planes-->
<div id="pay-planes" class="reveal-modal">
  <header class="this__title">
    <h2>Pay per connection</h2>
  </header>
  <p>Connecting with Aisle members is easy, but we put a price tag on it to make sure that you
    are genuinely interested in that person. Your invite will only be counted out once the
    invited member accepts your invitation. If it gets declined, your invite will be credited back to
    “Invites left”. If in case you don’t get a response, simply withdraw your invitation, and we will
    credit back your invite for future use. It’s a win-win all over!
  </p>
  <div class="l-jLine--top">
    <!--pay plane-->
    <div class="pay-plane">
      <div class="this__invites">
        <span class="this__invites__counter">1</span>
        <span>Invite</span>
      </div>
      <h2 class="this__title">Rs 1,999</h2>
      <h3>Approx <span class="this__price">USD 33</span></h3>
      <button class="button secondary">Buy</button>
    </div>
    <!--pay plane-->
    <div class="pay-plane">
      <div class="this__invites">
        <span class="this__invites__counter">3</span>
        <span>Invites</span>
      </div>
      <h2 class="this__title">Rs 1,999</h2>
      <h3>Approx <span class="this__price">USD 66</span></h3>
      <button class="button secondary">Buy</button>
    </div>
    <!--pay plane-->
    <div class="pay-plane">
      <div class="this__invites">
        <span class="this__invites__counter">5</span>
        <span>Invites</span>
      </div>
      <h2 class="this__title">Rs 1,999</h2>
      <h3>Approx <span class="this__price">USD 99</span></h3>
      <button class="button secondary">Buy</button>
    </div>
  </div>
  <a class="close-reveal-modal"></a>
</div>