<div class="l-container  l-jLine--top">
  <!--sidebar-->
  <aside class="search-settings">
    <div class="this__section">
      <h2 class="this__section__title">General search</h2>
      <ul class="this__section__list--selected">
        <li>
          <a href="#">Level 1</a>
          <ul>
            <li>
              <a href="#">Level 2</a>
              <a href="#">Level 2</a>
              <ul>
                <li><a href="#">Level 3</a>
                  <ul>
                    <li><a href="">Level 4</a></li>
                    <li><a href="">Level 4</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="this__section">
      <h2 class="this__section__title">Search</h2>
      <ul class="this__section__list">
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
      </ul>
    </div>
    <div class="this__section">
      <h2 class="this__section__title">Age</h2>
      <div class="this__selectWrap">
        <select class="left">
          <option value="">From this to this</option>
          <option value="">Another very long option</option>
          <option value="">x x x x x x x x x x x x x x x x x x x x x x x x x x x x </option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
        </select>
        <select class="right">
          <option value="">From this to this</option>
          <option value="">Another very long option</option>
          <option value="">x x x x x x x x x x x x x x x x x x x x x x x x x x x x </option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
          <option value="">From</option>
        </select>
      </div>
    </div>
    <div class="this__section">
      <h2 class="this__section__title">Height</h2>
      <div class="this__selectWrap">
        <select class="left">
          <option value="">From</option>
        </select>
        <select class="right">
          <option value="">To</option>
        </select>
      </div>
    </div>
    <div class="this__section">
      <h2 class="this__section__title">Status</h2>
      <ul class="this__section__list">
        <li><a class="is-active" href="#">Any</a></li>
        <li><a class="is-active" href="#">Single</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Widowed</a></li>
      </ul>
      <footer class="this__section__expander">More</footer>
    </div>
    <div class="this__section">
      <h2 class="this__section__title">Status</h2>
      <ul class="this__section__list  js-scrollbar">
        <li><a class="is-active" href="#">Any</a></li>
        <li><a href="#">Single</a></li>
        <li><a href="#">Single</a></li>
        <li><a href="#">Single</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
        <li><a href="#">Widowed</a></li>
      </ul>
      <footer class="this__section__expander  is-active">Less</footer>
    </div>
    <div class="this__section">
      <h2 class="this__section__title">Status</h2>
      <ul class="this__section__list">
        <li><a href="#">Any</a></li>
        <li><a href="#">Single</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Divorced</a></li>
        <li><a href="#">Widowed</a></li>
      </ul>
      <footer class="this__section__expander">More</footer>
    </div>
  </aside>
  <!--sidebar-->


  <!--main column-->
  <div class="search-results">
    <header class="this__header">
      <h1 class="ui-title">Women</h1>
      <select>
        <option value="">Random</option>
        <option value="">Price</option>
        <option value="">Other</option>
      </select>
    </header>
    <ul class="this__list">
      <li>
        <div class="person-profile">
          <div class="this__photo">
            <img  src="http://fakeimg.pl/230x230/?text=230x230">
            <!--bookmark this-->
            <div class="this__bookmark">
              <button class="button primary  is-active">Bookmark</button>
              <div class="ui-button__dropdown  primary">
                <button class="button primary">Unbookmark</button>
              </div>
            </div>
            <!--resize this-->
            <a class="this__resize" href="#">Scale photo</a>
          </div>
          <div class="this__info">
            <p><strong><b>India, New Delhi</b></strong>
            <p><b>24 Years | Malayalam</b>
            <p><strong>4 Feet 9 Inches</strong>
            <p><b>Christian  |  Roman Catholic</b>
            <div class="this__invite">
              <button class="button secondary  is-active">Accept</button>
              <div class="ui-button__dropdown  secondary">
                <button class="button secondary">Decline</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="person-profile">
          <div class="this__photo">
            <img  src="http://fakeimg.pl/230x230/?text=230x230">
            <!--bookmark this-->
            <div class="this__bookmark">
              <button class="button primary">Bookmark</button>
            </div>
            <!--resize this-->
            <a class="this__resize" href="#">Scale photo</a>
          </div>
          <div class="this__info">
            <p><strong><b>India, New Delhi</b></strong>
            <p><b>24 Years | Malayalam</b>
            <p><strong>4 Feet 9 Inches</strong>
            <p><b>Christian  |  Roman Catholic</b>
            <div class="this__invite">
              <button class="button secondary  icon-plus">Bookmark</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="person-profile">
          <div class="this__photo">
            <img  src="http://fakeimg.pl/230x230/?text=230x230">
            <!--bookmark this-->
            <div class="this__bookmark">
              <button class="button primary">Bookmark</button>
            </div>
            <!--resize this-->
            <a class="this__resize" href="#">Scale photo</a>
          </div>
          <div class="this__info">
            <p><strong><b>India, New Delhi</b></strong>
            <p><b>24 Years | Malayalam</b>
            <p><strong>4 Feet 9 Inches</strong>
            <p><b>Christian  |  Roman Catholic</b>
            <div class="this__invite">
              <button class="button secondary">Bookmark</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="person-profile">
          <div class="this__photo">
            <img  src="http://fakeimg.pl/230x230/?text=230x230">
            <!--bookmark this-->
            <div class="this__bookmark">
              <button class="button primary  is-active">Bookmark</button>
              <div class="ui-button__dropdown  primary">
                <button class="button primary">Unbookmark</button>
              </div>
            </div>
            <!--resize this-->
            <a class="this__resize" href="#">Scale photo</a>
          </div>
          <div class="this__info">
            <p><strong><b>India, New Delhi</b></strong>
            <p><b>24 Years | Malayalam</b>
            <p><strong>4 Feet 9 Inches</strong>
            <p><b>Christian  |  Roman Catholic</b>
            <div class="this__invite">
              <button class="button secondary  is-active">Accept</button>
              <div class="ui-button__dropdown  secondary">
                <button class="button secondary">Decline</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="person-profile">
          <div class="this__photo">
            <img  src="http://fakeimg.pl/230x230/?text=230x230">
            <!--bookmark this-->
            <div class="this__bookmark">
              <button class="button primary">Bookmark</button>
            </div>
            <!--resize this-->
            <a class="this__resize" href="#">Scale photo</a>
          </div>
          <div class="this__info">
            <p><strong><b>India, New Delhi</b></strong>
            <p><b>24 Years | Malayalam</b>
            <p><strong>4 Feet 9 Inches</strong>
            <p><b>Christian  |  Roman Catholic</b>
            <div class="this__invite">
              <button class="button secondary  icon-plus">Bookmark</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="person-profile">
          <div class="this__photo">
            <img  src="http://fakeimg.pl/230x230/?text=230x230">
            <!--bookmark this-->
            <div class="this__bookmark">
              <button class="button primary">Bookmark</button>
            </div>
            <!--resize this-->
            <a class="this__resize" href="#">Scale photo</a>
          </div>
          <div class="this__info">
            <p><strong><b>India, New Delhi</b></strong>
            <p><b>24 Years | Malayalam</b>
            <p><strong>4 Feet 9 Inches</strong>
            <p><b>Christian  |  Roman Catholic</b>
            <div class="this__invite">
              <button class="button secondary">Bookmark</button>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <a style="font-size: 18px;" href="#" data-reveal-id="profile-1">Popup with User Profile</a>
  </div>
  <!--end center column-->

</div>